.title {
  text-align: left;
  margin-top:3%;
}

.form {
  width: 500px;
  height:20px;
  
}

.fieldset_style {
  width: 500px;
  height: 550px;
  text-align: center;
  margin: auto;
  margin-top: 30px;
  background-color: #F8F8F8;
  border: none;
}

.button_style {
  background-color: blue;
  color: aliceblue;
  float: left;
  margin-top: 3%;
}

.userName{
    margin-bottom: 1%;
}

.form_name{
    margin-left: 2%;
    width: 43%;
}

.name_title{
    text-align: left;
}

.legend{
    text-align: center;
}
