.h1_style{
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #f08a0c;
    text-decoration-thickness: 0.1em;
    text-underline-offset: 4px;
    margin-top: 50px;
}

.table_style {

    margin-left: auto;
    margin-right: auto;
    border: 2px #808080 solid;
    border-collapse: collapse;
}

.thead{
    border: 2px #808080 solid;

}

.th_style{
    height: 30px;
    width: 200px;
    font-size: small;
    background-color: #cdcdcd;
}

.td {
    border-bottom: 2px #808080 solid;
    font-size: smaller;
    text-align: center;

}

.tr:nth-child(2n){
    background-color: #cdcdcd;
}

.btn{
    background-color: rgb(24, 103, 208);
    color: aliceblue;
    border-radius:5px 5px 5px 5px;
}

.btn:hover {
    cursor: pointer;
}


.allSum {
    text-align: center;
    font-size: 40px;
    font-weight: 500;
}
.msg {
    text-align: center;

}
