.mt {
  margin-top: 50px;
}

.m0auto {
  display: block;
  margin: 0 auto;
}

.addCss {
  margin-bottom: 30px;
  width: 150px;
  height: 50px;
  font-size: 25px;
  border-radius: 10px;
  border: none;
}

.addCss:hover {
  background-color: rgb(24, 103, 208,0.7);
}
