.itemImg {
    margin: auto;
    display: block;
    width: 40%;
    padding: 30px;
    background-color: #fff;
}

.item {
    display: flex;
    margin: 60px auto 50px auto;
    width: 100%;
    background-color: #FFAD00;
    padding: 50px;
}

.itemDetail {
    display: block;
    font-size: 20px;
    margin: auto;
    width: 40%;
    padding: 10px;
    border: thick double bisque
}

.option {
 margin: 30px 100px;
}

.optionTitle {
    margin-top: 30px;
}

.toppingCB {
    margin-left: 5px;
    margin-right: 20px;
}

.quantity {
    display: flex;
    margin: 20px 0;
}

.select {
    text-align: center;
    font-size: 16px;
    display: block;
    border: 1px solid;
    width: 10em;
    height: 30px;
    border-radius: 4px;
    margin: auto 10px;
}

.total {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-thickness: 0.1em;
    text-underline-offset: 4px;

}

.Btn {
    color: #fff;
    background-color: #FE4204;
    display: block;
    padding: 6px 12px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
    width: 200px;
    height: 50px;
    font-size: 25px;
    font-weight: normal;
    font-family:monospace;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
}

.confirmBtn {
    color: #fff;
    background-color: rgb(24, 103, 208);
    display: block;
    padding: 6px 12px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
    width: 200px;
    height: 50px;
    font-size: 25px;
    font-weight: normal;
    font-family:monospace;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
}

@media screen and (max-width: 720px) {
    .item{
        flex-direction: column;
    }

    .itemDetail {
        width: 80%;
    }
}
